<footer class="footer-section mt-3">
    <div class="container">
        <div class="row lists">
            <div class="col-2">
                <ul class="footer-list">
                    <li>Customer Service</li>
                    <li>Help Center</li>
                    <li>Track Your Order</li>
                    <li>Account Login</li>
                    <li>Returns & Exchanges</li>
                    <li>Contact Us</li>
                </ul>
            </div>  
            <div class="col-2">
                <ul class="footer-list">
                    <li>Follow</li>
                    <li>Help Center</li>
                    <li>Track Your Order</li>
                    <li>Account Login</li>
                    <li>Returns & Exchanges</li>
                    <li>Contact Us</li>
                </ul>
            </div>  
            <div class="col-2">
                <ul class="footer-list">
                    <li>About</li>
                    <li>Help Center</li>
                    <li>Track Your Order</li>
                    <li>Account Login</li>
                    <li>Returns & Exchanges</li>
                    <li>Contact Us</li>
                </ul>
            </div>  
            <div class="col-2">
                <ul class="footer-list">
                    <li>Work With Us</li>
                    <li>Help Center</li>
                    <li>Track Your Order</li>
                    <li>Account Login</li>
                    <li>Returns & Exchanges</li>
                    <li>Contact Us</li>
                </ul>
            </div>  
        </div>
        <p>
            &copy 2022, Krystian Ozog, LLC. 1180 First Street South Ext, Columbia, SC, 00000. Phone: 0-000-000-0000
        </p>
        <p>
            Terms of Use - Privacy Policy - Cookie Policy - Accessibility Statement
        </p>
    </div>
</footer>